@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&display=swap');

/* contrast test */
/*
img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
*/

/*––––––––––––––––––––––––––––––––––––––––––––––––

 TABLE OF CONTENTS
 
––––––––––––––––––––––––––––––––––––––––––––––––––

+ Branding
	- Colors
	- Fonts
+ Main
	- Headers
	- Font decor
+ Navigation
	- Shared
	- Primary
	- Secondary
+ Page Content
+ Footer
+ Modifiers & Queries
	- Modifiers
	- Media Queries


/*––––––––––––––––––––––––––––––––––––––––––––––––

BRANDING

––––––––––––––––––––––––––––––––––––––––––––––––––

/* COLORS /*

orange: #eb7e01
red: #da4343
dark teal: #042B45;
dark purple: #24223B;

/* FONTS /*

font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;


/*––––––––––––––––––––––––––––––––––––––––––––––––

 MAIN

–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*
.section {
	height: 100vh;
	display: grid;
	align-items: center;
}
*/

html {
	scroll-behavior: smooth;
}

/* BODY */

body {
	font-family: 'Source Sans Pro', ;
	height: 100vh;
}

/* OVERRIDES */

.columns:not(:last-child) {
	margin-bottom: 0px;
}

.columns.columns.is-gapless {
	margin-bottom: 0px;
}

.columns.is-gapless {
	margin-top: -7px;
}

/* FONTS */

h1, h2 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}

.active {
	text-decoration: underline;
}

hr { 
	margin: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

 NAVIGATION

–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* primary nav */

#site-brand {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 3px;
	margin-right: 10px;
	padding: 0;
}

nav {
	text-transform: uppercase;
	padding: 10px;
	border-bottom: 1px solid rgb(226, 226, 226);
}

#primary-nav a {
	color: #454341;
}

#primary-nav a:hover {
	color: #da4343;
}

.social-set {
	font-size: 2em;
}

.social-set a {
	padding: 10px;
}

.social {
	color:#eb7e01;
}

.navbar a, .navbar a:hover {
	background-color: white;
}

.navbar-burger {
	margin-top: 5px;
}

/* bar menu */

#barmenu {
	display: none;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 0;
}

#barmenu-click {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.4em;
	padding: 24px 20px 0 0;
	margin-right: 10px;
}

#barmenu a:hover {
	color: #454341;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

CROSS PAGE STYLING

–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Buttons */

.button {
	border-radius: 20px;
	transition: .5s;
}

.button.is-primary {
	background-color: #eb7e01;
}

.button.is-primary:hover {
	background-color:#da4343;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

 INDEX PAGE

–––––––––––––––––––––––––––––––––––––––––––––––––– */

#banner {
	margin-top: 70px;
}

/* Works & Links */

.work-cover h3 {
	font-weight: bolder;
}

.work-cover img {
	height: 100%;
	width: 100%;
}

.cover-container {
  position: relative;
  width: 100%;
}

.cover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color:#042B45;
  color: white;
}

.cover-container:hover .cover-overlay {
  opacity: 1;
}

.work-cover .text {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10%;
}

.placeholder {
	background-color: white;
}

#skills {
	margin-top: -7px;
}

.skill-image {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	margin-bottom: 1rem;
	margin-top: 3rem;
}

.skill-para {
	height: 80px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 3rem;
}

#contact {
	background-color:rgb(225, 227, 231);
}


/*––––––––––––––––––––––––––––––––––––––––––––––––

 FOOTER

–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
	background-color: #24223B;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding: 30px 0 30px 0;
}

footer a {
	color: white;	
}

footer a:hover {
	color:#eb7e01;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

 DECORATIVE

–––––––––––––––––––––––––––––––––––––––––––––––––– */

.is-orange {
	background-color: #eb7e01;
	color: white;
}

.is-orange h1, .is-orange h2, .is-teal h1 {
	color: white
}

.is-teal {
	background-color:#042B45;
	color: white;
}

.is-gray {
	background-color: rgb(225, 227, 231);
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

 MODIFIERS & QUERIES

–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grayscale {
	filter: grayscale(100%);
}

.bold-this {
	font-weight: bold;
}

.center-this {
	text-align: center;
}

.round-this {
	border-radius: 50%;
}

.center-this {
	text-align: center;
}

.add-padding {
	padding: 1.5rem;
}

@media only screen and (min-width: 1024px) {
    #barmenu-click, #barmenu, #barmenu .navbar-item{
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.navbar-end {
		display: none;
	}

	.container {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
}

@media only screen and (max-width: 640px) {

	.button {
		border-radius: 5px;
		width: 100%;
		margin: 0 auto;
	}

	#skills .button {
		width: 90%;
	}

	#site-brand {
		font-size: 1.2rem;
		margin-top: 10px;
	}
}