@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&display=swap');

/* contrast test */
/*
img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
*/

/*––––––––––––––––––––––––––––––––––––––––––––––––

 TABLE OF CONTENTS
 
––––––––––––––––––––––––––––––––––––––––––––––––––

+ Branding
	- Colors
	- Fonts
+ Main
	- Headers
	- Font decor
+ Navigation
	- Shared
	- Primary
	- Secondary
+ Page Content
+ Footer
+ Modifiers & Queries
	- Modifiers
	- Media Queries


/*––––––––––––––––––––––––––––––––––––––––––––––––

BRANDING

––––––––––––––––––––––––––––––––––––––––––––––––––

/* COLORS /*

Pink: #d741a7
Purple: #3a1772
Blue: #5398be
Yellow: #f2cd5d
Orange: #dea54b

PINK / YELLOW PALETTE

lite pink: #FECFCC
dark pink: #F08A96
sat yellow: #FFFD97;
bleak yellow: #FAF5DB;
soft orange: #EBBB67;
gray: #454341;

/* FONTS /*

font-family: 'Lato', sans-serif;


/*––––––––––––––––––––––––––––––––––––––––––––––––

 MAIN

–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	scroll-behavior: smooth;
  }

/* BODY */

body {
	font-family: 'Source Sans Pro', ;
	height: 100vh;
}

/* OVERRIDES */

.columns:not(:last-child) {
	margin-bottom: 0px;
}

.columns.columns.is-gapless {
	margin-bottom: 0px;
}

.columns.is-gapless {
	margin-top: -7px;
}

/* FONTS */

h1, h2 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}

.active {
	text-decoration: underline;
}

hr { 
	margin: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

 NAVIGATION

–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* primary nav */

#site-brand {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 3px;
	margin-right: 10px;
	padding: 0;
}

nav {
	text-transform: uppercase;
	padding: 10px;
	border-bottom: 1px solid rgb(226, 226, 226);
}

#primary-nav a {
	color: #454341;
}

#primary-nav a:hover {
	color: #da4343;
}

.social-set {
	font-size: 2em;
}

.social-set a {
	padding: 10px;
}

.social {
	color:#eb7e01;
}

.navbar a, .navbar a:hover {
	background-color: white;
}

.navbar-burger {
	margin-top: 5px;
}

/* bar menu */

#barmenu {
	display: none;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 0;
}

#barmenu-click {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.4em;
	padding: 24px 20px 0 0;
}

#barmenu a:hover {
	color: #454341;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

 MULTI PAGE CONTENT

–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Works & Links */

.work-cover h3 {
	font-weight: bolder;
}

.work-cover img {
	height: 100%;
	width: 100%;
}

.cover-container {
  position: relative;
  width: 100%;
}

.cover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: white;
}

.cover-container:hover .cover-overlay {
  opacity: 1;
}

.work-cover .text {
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10%;
}

.placeholder {
	background-color: white;
}

/* Buttons */

.button {
	border-radius: 20px;
}

.button.is-primary {
	background-color: #eb7e01;
}

.button.is-primary:hover {
	background-color:#da4343;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

PAGE SPECIFIC (TEMPLATE)

–––––––––––––––––––––––––––––––––––––––––––––––––– */

#banner {
	margin-top: 70px;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

 FOOTER

–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
	background-color: #24223B;
	text-align: center;
	padding: 30px 0 30px 0;
	margin-top: 20px;
}

footer a {
	color: white;	
}

footer a:hover {
	color:#eb7e01;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––

 MODIFIERS & QUERIES

–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bold-this {
	font-weight: bold;
}

.center-this {
	text-align: center;
}

.round-this {
	border-radius: 50%;
}

.center-this {
	text-align: center;
}

.add-padding {
	padding: 1.5rem;
}

@media only screen and (min-width: 1024px) {
    #barmenu-click, #barmenu, #barmenu .navbar-item{
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.navbar-end {
		display: none;
	}
}